{% extends 'base.html' %}

{% block title %}Guardar Compras{% endblock %}

{% block head %}

{% load static %}

<link rel = "stylesheet" href = "{% static 'css/stylesSave.css' %}">

{% endblock %}

{% block body %}

<div class = "card">
    <div class = "card-body">
        <div class = "row">
            <div class = "col-12 col-md-6 offset-md-3">
                <form action = "{% url 'guardarC' %}" method = "POST" onsubmit = "return validacionC()">
                    {% csrf_token %}
                    <center><h2> Guardar Compra </h2></center>
                    <div class = "form-group">
                        <input type = "number" name = "txtCantidad" id = "txtCantidad" pattern="^[0-9]+" class = "form-control form-control-sm" placeholder = "Cantidad" minlength = "1" maxlenth = "20" required>
                    </div>

                    <div class = "form-group">
                        <input type = "text" id = "txtProveedor" name = "txtProveedor" pattern="^[A-Za-z ]+$" class = "form-control form-control-sm" placeholder = "Proveedor" minlength = "1" maxlenth = "50" required>
                    </div>

                    <div class = "form-group">
                        <select class="custom-select custom-select-sm col-sm-6" name = "pagado" id = "pagado" required>
                            <option value = "pagado">Pagado</option>
                            <option value="si">Si</option>
                            <option value="no">No</option>
                            <option value="Parcialmente">Parcialmente</option>
                          </select>
                    </div>

                    <div class = "form-group">
                                                  
                        <input placeholder="Fecha de Compra" type = "text" id = "fechaCompra" name = "fechaCompra" class = "form-control form-control-sm" onfocus="(this.type='date')" required>
                            
                    </div>

                    <div class = "form-group">
                        
                        <select name = "proyecto" id = "proyecto" class="custom-select custom-select-sm col-sm-6" required>
                            <option value = "" selected>Elegir Proyecto</option>
                            {% for proyecto in proyecto %}
                                <option value = "{{proyecto.id_proyecto}}">{{proyecto.id_proyecto}} {{proyecto.constructora}}</option>
                            {% endfor %}
                        </select>
                        
                    </div>

                    <div class = "form-group">
                        
                        <select name = "construccion" id = "construccion" class="custom-select custom-select-sm col-sm-6" required>
                            <option value = "" selected>Elegir Materiales</option>
                            {% for material in material %}
                                <option value = "{{material.id_materialconstruccion}}">{{material.nombre_material}}</option>
                            {% endfor %}
                        </select>     
                                           
                    </div>
                    <script src = "{% static 'js/validaciones.js' %} "></script>
                    <div class = "d-flex justify-content-center">
                        <input type = "reset" value = "Cancelar" id = "btnCancelar" class = "btn btn-secondary">
                        <input type = "submit" value = "Guardar" class = "btn btn-primary">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock%}