{% extends 'base.html' %}

{% block title %}Gestion de Constructora{% endblock %}

{% block body %}

<div class = "row">
    <div class = "col-sm-24 col-md-24 col-lg-24 col-xl-24 ">
        
        <h2>Gestion de Compras  <a href="{% url 'saveC' %}"><i class="fa fa-floppy-o" aria-hidden="true"  style = "color: red;"></i></a></h2>

        <div class = "card">            
    </div>
    <div class = "col-sm-24 col-md-24 col-lg-24 col-xl-24">
        <div class = "table-responsive">
            <table class = "table table-striped">
                 <thead>
                        <tr>
                            <th>#</th>                            
                            <th>Proveedor</th>
                            <th>Cantidad</th>
                            <th>Pagado</th>
                            <th>Fecha</th>
                            <th>Construtora</th>
                            <th>Material</th>
                            <th colspan = "2">Opciones</th>
                        </tr>
                 </thead>
                 <tbody>
                    {% for c in entity %}
                    <tr>
                        <td>{{c.id_compra}}</td>                        
                        <td>{{c.proveedor}}</td>
                        <td>{{c.cantidad}}</td>
                        <td>{{c.pagado}}</td>
                        <td style="white-space:nowrap">{{c.fecha | date:"d-m-Y"}}</td>
                        <td>{{c.id_proyecto.constructora}}</td>
                        <td >{{c.id_materialconstruccion.nombre_material}}</td>                        
                        <td><a href="{% url 'editC' c.id_compra %}"><i class="fa fa-pencil-square-o fa-xl" aria-hidden="true"  style = "color: #0DCAF0;"></i></a></td>
                        <td><a onclick = "eliminar({{ c.id_compra }})" href="#"><i class="fa fa-eraser fa-xl" aria-hidden="true"  style = "color: red;"></i></a></td>
                    </tr>
                    {% endfor %}                    
                 </tbody>
            </table>
            <hr>
        </div>

        {% block js %}
          <script>            
              function eliminar(idCompra) {
                  
                swal({
                  title: "Estas seguro de borrar el registro?",
                  text: "Una vez eliminado, no podra recuperarse el registro!",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {
                    var url = "{% url 'deleteC' 123 %}";
                    document.location.href = url.replace('123', idCompra);
                    swal("Registro eliminado exitosamente!", {
                      icon: "success",
                    });
                  } else {
                    swal("El registro no se elimino!");
                  }
                });
                    
              }
          </script>
        {% endblock %}
        {% include "paginacion.html" %}
    </div>
</div>
{% endblock %}